/**
  * COLORS
  **/

// Amherst purple
$amherst-purple-0: #BC9CDD;
$amherst-purple-1: #4F2F7A;
$amherst-purple-2: #60269E;
$amherst-purple-3: #300066;

// Bootstrap colors
$bootstrap-light-gray: #eee;
$bootstrap-dark-gray: #939EAF;
